<div class="page-header">
  <h1>User</h1>
</div>

<p class="lead"><%= @user.name %></p>

<% if @user == current_user %>
  <p class="lead">API Token: <%= @user.api_token %></p>
<% end %>

<%= link_to "Follow", follow_user_path(@user),
      method: :post, class: "btn btn-default" %>

<h2>Posts</h2>

<%= render @posts %>

<%= link_to "Home", root_path,
      class: "btn btn-default" %>
